*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(./backimg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */

body  {
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
  background-size:cover;
        -webkit-animation: slidein 50s;
        animation: slidein 50s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;  
        align-items: center;     
        justify-content: center; 
        display: flex;   
         min-height: 100vh;   
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}

.container{
    max-width: 450px;
    background: #3eabe1;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 3px rgba(70, 68, 68, 0.4);
    font-family: sans-serif;
    padding: 20px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 10px;
}

.Temperature-icon{
    font-size: 45px;
    color: #fff;
}

h1{
    color: #fff;
    letter-spacing: 1.2px;
    font-size: 30px;
}

#celsius, #fahrenheit, #kelvin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

input{
    flex: 5;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 8px 0 0 8px;
    padding: 0 10px;
}


/* for chrome, safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

/* for Mozila firefox */
input{
    -moz-appearance: textfield;
}


.icon{
    flex: 1;
    height: 60px;
    line-height: 60px;
    padding: 0 5px;
    text-align: center;
    font-size: 30px;
    background: #bc64c1;
    color: #fff;
    border-radius: 0 8px 8px 0;
}


.button{
    margin-top: 25px;
    text-align: center;
}


.button button{
    border: none;
    outline: none;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

.button button:hover{
    background: #bef40a;
    color: #ea3131;
}
@media(max-width:62em){
    .container{
        max-width: 250px;
        padding: 20px;
    }
    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap-reverse;
        gap: 5px;
    }
    input{
        flex: 2;
        height: 30px;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        width: 25px ;
        /* border: none; */
        /* outline: none; */
        /* border-radius: 2px 0 0 2px; */
        padding: 0 5px;
    }
    .icon{
        flex: 0.5;
        height: 30px;
        line-height: 30px;
        /* padding: 0 5px; */
        /* text-align: center; */
        font-size: 20px;
        /* background: #4d5964;
        color: #fff; */
        width: 25px;
        text-size-adjust: unset;
        vertical-align: text-top;
    }
    .button button{
        padding: 5px 15px;
        font-size: 20px;
        font-weight: 500;
        border-radius: 3px;
        transition: 0.3s;
    }
    #celsius, #fahrenheit, #kelvin{
        /* display: flex;
        justify-content: center;
        align-items: center; */
        /* margin-top: 5px; */
        margin-top: 25px;
        margin-bottom: 25px;
        padding: 25px;
    }
}
